#entrada {
    background-color: rgb(209, 176, 239);
    border-radius: 5px;
    width: 450px;
}

#distancia {
    background-color: lawngreen;
    border-radius: 5px;
    width: 450px;
}

#equacao {
    background-color: lightcoral;
    border-radius: 5px;
    width: 450px;
}

#circunferencia {
    background-color: yellow;
    border-radius: 5px;
    width: 450px;
}